
td.number {
    text-align: right;
}
body {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Helvetica', sans-serif;*/
    padding-top: 50px;
}
#header-container {
    background: #404040;
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 10px;
}

.navbar {
    /*background: white;*/
    font-weight: bold;
    font-family: 'Bungee Hairline', cursive;
}

h1 {
    color: white;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    /*font-family: 'Pacifico', cursive;*/
    font-size: 60px;
}
.description {
    text-align: center;
    font-style: oblique;
    color: #909090;
}
.subtitle {
    font-size: 20px;
    color: #909090;
}


.movies {
    font-family: 'Playfair Display', serif;
}
.movies a {
    color: inherit;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.row {
    padding: 20px 15px;
}
.movies {
    margin: 10px;
}
#rating-pick {
    text-align: center;
}
/*
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
